<ion-content [fullscreen]="true">
  <app-mimenu />
  <ion-content class="ion-page" id="main-content">
    <app-miheader />
    <div class="marcador">
      <ion-icon name="color-palette-outline" size="large" color="primary" class="icon-trivial"></ion-icon>
      <ion-icon name="game-controller-outline" size="large" color="secondary" class="icon-trivial"></ion-icon>
      <ion-icon name="earth-outline" size="large" color="danger" class="icon-trivial"></ion-icon>
      <ion-icon name="football-outline" size="large" class="icon-trivial"></ion-icon>
      <!--color="success" se pone el color en funcion de si ha acertado o no-->
    </div>
    <ion-grid class="ion-align-self-center" *ngIf="pregunta.respuestas != undefined">
      <ion-row class="ion-align-items-center">
        <ion-col size="12" class="ion-text-center">
          <ion-card color="light">
            <ion-card-header color="light">
              <ion-card-title>{{pregunta.preguntaEnunciado}}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center">
        <ion-col size="6" class="ion-text-center" *ngFor="let r of pregunta.respuestas" size-lg="6" size-md="6"
          size-sm="12" size="12">
          <ion-card color={{colorCategoria}}>
            <ion-card-header>
              <ion-card-title (click)="responder(r)">{{r}}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div *ngIf="abrirModal">
      <app-abrir-modal-fin resultado="{{resultado}}" idJuego="Trivial" />
    </div>
  </ion-content>