<ion-content [fullscreen]="true">
  <app-mimenu />
  <ion-content class="ion-page" id="main-content">
    <app-miheader />
    <div class="header-container">

      <ion-item color="dark">
        <ion-icon name="color-palette-outline" size="large" color="primary"></ion-icon>
        <ion-icon name="game-controller-outline" size="large" color="secondary"></ion-icon>
        <ion-icon name="earth-outline" size="large" color="danger"></ion-icon>
        <ion-icon name="football-outline" size="large"></ion-icon>
        <!--color="success" se pone el color en funcion de si ha acertado o no-->
      </ion-item>
    </div>
    <ion-grid class="ion-align-self-center">
      <ion-row class="ion-align-items-center">
        <ion-col size="12" class="ion-text-center">
          <ion-card color="light">
            <ion-card-header>
              <ion-card-title></ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center">
        <ion-col size="6" class="ion-text-center">
          <ion-card color="success">
            <ion-card-header>
              <ion-card-title>A) Nada</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size="6" class="ion-text-center">
          <ion-card color="secondary">
            <ion-card-header>
              <ion-card-title>B) Nada</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center">
        <ion-col size="6" class="ion-text-center">
          <ion-card color="primary">
            <ion-card-header>
              <ion-card-title>C) Nada</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size="6" class="ion-text-center">
          <ion-card color="danger">
            <ion-card-header>
              <ion-card-title>D) Nada</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>