#card_css{
    padding: 10em;
    border: solid;
}

ion-item{
    margin: 3em;
}

#boton_css{
    padding: 4em;
}

#title_css{
    padding: 2em;
}

#boton_editar_css{
    margin-left: 3em;
}

#boton_editar_nombre_css{
    margin-left: 12.9em;
}