<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ahorcado</ion-title>
  </ion-toolbar>
 </ion-header>
 <!---->
 <ion-content [fullscreen]="true" class="ion-padding">
  <div class="ion-text-center">
  <ion-grid>    
    <ion-img [src]="ruta + ahorcadoImgs[indiceImagen]" style="width: 100px; height: auto;"></ion-img>      <ion-row>
        <ion-col size="8">
          <!-- Cambio esto para que solo se pueda introducir una letra y no explote el servicio -->
          <ion-input placeholder="Letra" class="input" [(ngModel)]="letra" type="text" maxlength="1"></ion-input>
        </ion-col>
        <ion-col size="4">
          <ion-button expand="full" shape="round" (click)="addLetra()">Click</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
 
 
    <ion-list *ngIf="dataHoy.length > 0" >
      <ion-item>
        <ion-label>Letras introducidas: </ion-label>
      </ion-item>
      <ion-item *ngFor="let letra of dataHoy">
        <ion-label>{{letra.letra}}</ion-label>
      </ion-item>
    </ion-list>
  </div>
 </ion-content>
 
