.input {
  background-color: #f0f0f059;
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
}

.imagen {
  height: 25em;
  margin: 2em;
}

.titulo-lista{
  font-size: large;
  font-weight: bold;
}

.ahorcadoRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.1em;
}

.ahorcadoCol {
  border-style: solid;
  border-color:var(--ion-color-medium);
  margin: 0.1em;
  width: 2em;
  height: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--ion-color-medium);
  font-weight: bold;
}

.V{
  border-color:var(--ion-color-success);
  background-color: var(--ion-color-success) ;
  color: var(--ion-color-light);
}

.A{
  border-color:var(--ion-color-warning);
  background-color: var(--ion-color-warning) ;
  color: var(--ion-color-light);
}

.G{
  border-color:var(--ion-color-medium);
  background-color:var(--ion-color-medium);
  color: var(--ion-color-light);
}

.imgahorcado{
  width: 200px;
  height: 300px;
  background-size: cover;

}

.img1{
  background-image: url('../../../assets/img/Ahorcado/1.png');
  }
  .img2{
  background-image: url('../../../assets/img/Ahorcado/2.png');
  }

 .img3{
  background-image: url('../../../assets/img/Ahorcado/3.png');
 }
 .img4{
  background-image: url('../../../assets/img/Ahorcado/4.png');
 }

 .img5{
  background-image: url('../../../assets/img/Ahorcado/5.png');
 }
 .img6{
  background-image: url('../../../assets/img/Ahorcado/6.png');
 }
 .img7{
  background-image: url('../../../assets/img/Ahorcado/7.png');
 }
 .img8{
  background-image: url('../../../assets/img/Ahorcado/8.png');
 }


@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */
    .img1{
    background-image: url('../../../assets/img/Ahorcado/1B.png');
    }
    .img2{
    background-image: url('../../../assets/img/Ahorcado/2B.png');
    }

   .img3{
    background-image: url('../../../assets/img/Ahorcado/3B.png');
   }
   .img4{
    background-image: url('../../../assets/img/Ahorcado/4B.png');
   }

   .img5{
    background-image: url('../../../assets/img/Ahorcado/5B.png');
   }
   .img6{
    background-image: url('../../../assets/img/Ahorcado/6B.png');
   }
   .img7{
    background-image: url('../../../assets/img/Ahorcado/7B.png');
   }
   .img8{
    background-image: url('../../../assets/img/Ahorcado/8B.png');
   }
}