ion-col {
    border-style: solid;
    border-width: 0.2em;
    border-color:var(--ion-color-medium);
    margin: 0.1em;
    width: 2em;
    height: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--ion-color-medium);
    font-weight: bold;
    font-size: 2em;
}

ion-row {
    width: fit-content;
    margin: auto;
    margin-bottom: 0.5em;
}