<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="centrar-form">
    <form [formGroup]="form" (ngSubmit)="submit()" (keypress.enter)="submit()">

      <ion-icon class="icon-enter" name="person-circle-sharp" color="primary" ion-text-center></ion-icon>
      <ion-text color="primary">
        <h1><Strong>TriatGames </Strong>app</h1>
      </ion-text>

      <!-- NAME -->

      <app-component-formu
      icon="text-outline" 
      [control]="form.controls.name" 
      type="name"></app-component-formu>
  
      <div class="validators" *ngIf="form.controls.name.errors && form.controls.name.touched">
        <div *ngIf="form.controls.name.errors?.['required']">El nombre es requerido</div>
        <div *ngIf="form.controls.name.errors?.['minlenght']">El nombre debe tener almenos 4 caracteres</div>
      </div>
      
      <!-- EMAIL -->

      <app-component-formu 
      icon="mail-outline" 
      [control]="form.controls.email" 
      type="email"></app-component-formu>
  
      <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
        <div *ngIf="form.controls.email.errors?.['required']">El correo es requerido</div>
        <div *ngIf="form.controls.email.errors?.['email']">El correo debe ser valido</div>
      </div>

      <!-- PASSWORD -->
      
      <app-component-formu 
      icon="lock-closed-outline" 
      [control]="form.controls.password" 
      type="password" ></app-component-formu>
      
      <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
        <div *ngIf="form.controls.password.errors?.['required']">La contraseña es requerido</div>
      </div>

      <ion-button  expand="block" type="submit" [disabled]="form.invalid">
        Registrate
        <ion-icon slot="end" name="person-add-outline"></ion-icon>
      </ion-button>

    </form>

    
  </div>

  

 
</ion-content>
