.centrar-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%; 
    text-align: center;
    margin-top: 5%;
  }

  .icon-enter {
    font-size: 80px;
    margin-top: 40px;
  }