<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <!--Botón de retroceso-->
      <ion-back-button defaultHref="#"></ion-back-button>
    </ion-buttons>
    <!--Saludo al usuario-->
    <!--Pendiente de implementar completamente con FireBase-->
    <ion-title>
      <ion-avatar class="avatar">
        <img [src]="gravatarURL" alt="Avatar">
      </ion-avatar>
      <!-- Hola {{usuario}} -->
    </ion-title>
    <!--Botón de deslogueo pendiente de implementar-->
    <ion-button slot="end"><ion-icon name="log-out-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>