<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <!--Botón de retroceso-->
      <ion-back-button defaultHref="#"></ion-back-button>
    </ion-buttons>
    <!--Saludo al usuario-->
    <!--Pendiente de implementar completamente con FireBase-->
    <ion-title>
      <ion-label>Hola {{name}}</ion-label> 
      <app-avatar></app-avatar>
    
    </ion-title>
    <!--Botón de deslogueo pendiente de implementar-->
    <ion-button slot="end" (click)="logout()"><ion-icon name="log-out-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>