<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <!--Botón de retroceso-->
      <!-- <ion-back-button defaultHref="#"></ion-back-button> -->
    </ion-buttons>
    <!--Saludo al usuario-->
    <!--Pendiente de implementar completamente con FireBase-->
    <ion-buttons>
    <ion-title>
      <ion-item color="primary" lines="none">
        <app-avatar class="avatar" />
        <ion-label class="nombre">Hola {{name}}</ion-label>
      </ion-item>
    </ion-title>
    <!--Botón de deslogueo pendiente de implementar-->
    
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>