<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>wordle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">wordle</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <!--FILA 1-->
    <ion-row>
      <!--COLUMNA 1-->
      <ion-col>
        A1
      </ion-col>
      <!--COLUMNA 2-->
      <ion-col>
        A2
      </ion-col>
      <!--COLUMNA 3-->
      <ion-col>
        A3
      </ion-col>
      <!--COLUMNA 4-->
      <ion-col>
        A4
      </ion-col>
      <!--COLUMNA 5-->
      <ion-col>
        A5
      </ion-col>
    </ion-row>

    <!--FILA 2-->
    <ion-row>
      <!--COLUMNA 1-->
      <ion-col>
        B1
      </ion-col>
      <!--COLUMNA 2-->
      <ion-col>
        B2
      </ion-col>
      <!--COLUMNA 3-->
      <ion-col>
        B3
      </ion-col>
      <!--COLUMNA 4-->
      <ion-col>
        B4
      </ion-col>
      <!--COLUMNA 5-->
      <ion-col>
        B5
      </ion-col>
    </ion-row>

    <!--FILA 3-->
    <ion-row>
      <!--COLUMNA 1-->
      <ion-col>
        C1
      </ion-col>
      <!--COLUMNA 2-->
      <ion-col>
        C2
      </ion-col>
      <!--COLUMNA 3-->
      <ion-col>
        C3
      </ion-col>
      <!--COLUMNA 4-->
      <ion-col>
        C4
      </ion-col>
      <!--COLUMNA 5-->
      <ion-col>
        C5
      </ion-col>
    </ion-row>

    <!--FILA 4-->
    <ion-row>
      <!--COLUMNA 1-->
      <ion-col>
        D1
      </ion-col>
      <!--COLUMNA 2-->
      <ion-col>
        D2
      </ion-col>
      <!--COLUMNA 3-->
      <ion-col>
        D3
      </ion-col>
      <!--COLUMNA 4-->
      <ion-col>
        D4
      </ion-col>
      <!--COLUMNA 5-->
      <ion-col>
        D5
      </ion-col>
    </ion-row>

    <!--FILA 5-->
    <ion-row>
      <!--COLUMNA 1-->
      <ion-col>
        E1
      </ion-col>
      <!--COLUMNA 2-->
      <ion-col>
        E2
      </ion-col>
      <!--COLUMNA 3-->
      <ion-col>
        E3
      </ion-col>
      <!--COLUMNA 4-->
      <ion-col>
        E4
      </ion-col>
      <!--COLUMNA 5-->
      <ion-col>
        E5
      </ion-col>
    </ion-row>

    <!--FILA 6-->
    <ion-row>
      <!--COLUMNA 1-->
      <ion-col>
        F1
      </ion-col>
      <!--COLUMNA 2-->
      <ion-col>
        F2
      </ion-col>
      <!--COLUMNA 3-->
      <ion-col>
        F3
      </ion-col>
      <!--COLUMNA 4-->
      <ion-col>
        F4
      </ion-col>
      <!--COLUMNA 5-->
      <ion-col>
        F5
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>