<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>wordle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">wordle</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- NOTAS PARA EL QUE VENGA TRAS DE MÍ -->
  <!-- 1. ¡Hola compi/Bernat!-->
  <!-- 2. Las filas están pensadas para ser sustituidas por un *ngFor-->
  <!-- 3. Los parametros de wordle-row para que sean variables-->
  <!-- 4. Así también, tanto los mensajes como el input lo he hecho pensando en que sean controlados por un ngIf-->
  <!-- 5. ¡Suerte! -->
  <!-- Att. Manu-->

  <ion-grid>
    <!--Ejemplo de pasos por parametro y cambios de color-->
    <wordle-row [palabra]="'ionic'" [aciertos]="'VAGGG'"></wordle-row>

    <!--De aqui para abajo se muestran las acasillas en las que aun no hemos introducido nada-->
    <wordle-row></wordle-row>
    <wordle-row></wordle-row>
    <wordle-row></wordle-row>
    <wordle-row></wordle-row>
    <wordle-row></wordle-row>

  </ion-grid>
  <!--Mensaje si pierde-->
  <div class="mensajePierde">
    <ion-label>Vuelve mañana... La palabra de hoy era: <ion-text class="palabraDelDia">EJEMPLO</ion-text></ion-label>
  </div>
  <!--Mensaje si gana-->
  <div class="mensajeGana">
    <ion-label>¡Enhorabuena, has acertado la palabra de hoy!</ion-label>
  </div>
  <!--Input para introducir las palabras-->
  <ion-input type="text" fill="outline" maxlength="5" minlength="5" placeholder="Introduce tu palabra"/>

</ion-content>