<ion-content [fullscreen]="true">
  <app-mimenu />
  <ion-content class="ion-page" id="main-content">
    <app-miheader />
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">wordle</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <wordle-row *ngFor="let palabra of palabrasIntentos" [palabra]="palabra.palabra" [aciertos]="palabra.respuesta"></wordle-row>
    

  </ion-grid>
  <div class="mensajePierde" *ngIf="mostrarMensajePierde">
    <ion-label>Vuelve mañana... La palabra de hoy era: <ion-text class="palabraDelDia">{{palabraDia}}</ion-text></ion-label>
  </div>
  <div class="mensajeGana" *ngIf="mostrarMensajeGana">
    <ion-label>¡Enhorabuena, has acertado la palabra de hoy!</ion-label>
  </div>
  <ion-input *ngIf="mostrarInput" type="text" fill="outline" maxlength="5" minlength="5" placeholder="Introduce tu palabra" (keyup.enter)="agregarPalabra($event)"/>

  <div *ngIf="abrirModal">
    <app-abrir-modal-fin resultado="{{resultado}}" />
  </div>
</ion-content>