<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-button href="" fill="clear" slot="start" color="light">
        <ion-icon slot="icon-only"name="home"/>
      </ion-button>
      <ion-title class="titulo">
        Menú
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <!--Opciones vacias del menú-->
    <ion-list>
      <ion-item button="true" href="">Wordle</ion-item>
      <ion-item button="true" href="">Ahorcado</ion-item>
      <ion-item button="true" href="">Trivial</ion-item>
      <ion-item button="true" href="">Quienes somos</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>