<ion-content [fullscreen]="true">
  <app-mimenu />
  <ion-content class="ion-page" id="main-content">
    <app-miheader />

    <!-- <ion-button (click)="abrirFinDelJuego()" expand="block" fill="clear" shape="round">
      Click me
    </ion-button>

    <div *ngIf="abrirModal">
      <app-abrir-modal-fin resultado="{{resultado}}" />
    </div> -->
    <div class="container">
      <ion-grid class="ion-align-self-center">
        <!--Fila 1 -->
        <ion-row class="ion-align-items-center">
          <!-- Boton wordle -->
          <ion-col size="6" class="ion-text-center">
            <ion-button *ngIf="!entradaWordle" 
              class="btn-juego btn-wordle-visto" fill="clear" />
            <ion-button *ngIf="entradaWordle" href="/wordle" class="btn-juego btn-wordle"
              fill="clear" />
          </ion-col>
          <!-- Boton trivial-->
          <ion-col size="6" class="ion-text-center">
            <ion-button *ngIf="!entradaTrivial" 
              class="btn-juego btn-trivial-visto" fill="clear" />
            <ion-button *ngIf="entradaTrivial" href="/trivial" 
              class="btn-juego btn-trivial" fill="clear" />
          </ion-col>
        </ion-row>

        <!--Fila 2 -->
        <ion-row class="ion-align-items-center">
          <!-- Boton ahorcado -->
          <ion-col size="6" class="ion-text-center">
            <ion-button *ngIf="!entradaAhorcado"
              class="btn-juego btn-ahorcado-visto" fill="clear" />
            <ion-button *ngIf="entradaAhorcado" href="/ahorcado" 
              class="btn-juego btn-ahorcado" fill="clear" />
          </ion-col>
          <!--Botón puntuaciones -->
          <ion-col size="6" class="ion-text-center">
            <ion-button *ngIf="!entradaPuntuaciones" href="/puntuaciones" 
              class="btn-juego btn-puntuaciones-visto" fill="clear" />
            <ion-button *ngIf="entradaPuntuaciones" href="/puntuaciones" 
              class="btn-juego btn-puntuaciones" fill="clear" />
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-content>
</ion-content>