<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>vistaAhorcado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <img src="../../assets/imgAhorcado/8.png" height="100px">
    <ion-grid>
      <ion-row>
        <ion-col size="6" size-sm="5" size-md="10">
          <ion-input placeholder="Letra"></ion-input>
        </ion-col>
        <ion-col size="4" size-sm="5" size-md="2">
          <ion-button>Click</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p>Descartes</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p>asfdgjhjkh</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>