<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Puntuaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-title class="ion-text-center">Ranking</ion-title>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="full" [disabled]="activeD" (click)="activarD()">Dia</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full"  [disabled]="activeM" (click)="activarM()">Semana</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full"  [disabled]="activeA" (click)="activarA()">Global</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-lista-puntos [listaEntrada]="listaPuntosFinal" *ngIf="listaPuntosFinal.length > 0; else noData"></app-lista-puntos>
</ion-content>

<ng-template #noData>
  <h2 class="ion-text-center">
    <ion-icon name="cloud-offline-outline"></ion-icon>
    No hay datos disponibles
    <ion-icon name="cloud-offline-outline"></ion-icon>
  </h2>
</ng-template>

